In [141]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [142]:
dfx = pd.read_csv("./Training Data/Diabetes_XTrain.csv")
dfy = pd.read_csv("./Training Data/Diabetes_YTrain.csv")

In [143]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [144]:
dfx.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000
mean,3.758681,119.975694,68.826389,20.364583,76.166667,31.857292,0.481519,32.954861
std,3.328783,31.512914,20.285812,15.893856,109.193550,8.134926,0.336910,11.878137
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,26.975000,0.247750,24.000000
50%,3.000000,116.000000,72.000000,22.000000,36.000000,32.000000,0.381500,29.000000
75%,6.000000,139.000000,80.000000,32.000000,120.000000,36.725000,0.641250,40.000000
max,17.000000,199.000000,122.000000,63.000000,744.000000,67.100000,2.420000,81.000000

In [145]:
dfx.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [146]:
X_train = dfx.values
X_train.shape

(576, 8)

In [147]:
Y_train = dfy.values
Y_train = Y_train.reshape(-1)
Y_train.shape

(576,)

In [148]:
def dist(x1, x2):
  return np.sqrt(sum((x1-x2)**2))

def knn(X, Y, query_point, k = 20):
  vals = []
  m = X.shape[0]

  for i in range(m):
    d = dist(query_point, X[i])
    vals.append((d, Y[i]))

  vals = sorted(vals)
  vals = vals[:k]

  vals = np.array(vals)

  new_vals = np.unique(vals[:, 1], return_counts=True)

  max_freq = new_vals[1].argmax()
  pred = int(new_vals[0][max_freq])
  return pred



  # zero = 0
  # one = 0

  # for i in range(k):
  #   if vals[i][1] == 0:
  #     zero += 1
  #   else:
  #     one += 1
  
  # if(zero > one):
  #   return 0.0
  # else:
  #   return 1.0

In [149]:
dt = pd.read_csv("./Diabetes_Xtest.csv")
X_test = dt.values

In [150]:
X_test.shape

(192, 8)

In [151]:
test_val = []
m = X_test.shape[0]

for i in range(m):
  ans = knn(X_train, Y_train, X_test[i])
  test_val.append(ans)

In [153]:
test_val

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0]

In [154]:
out = np.array(test_val)
DF = pd.DataFrame(out)

In [155]:
DF.columns = ["Outcome"]

In [156]:
DF.to_csv('test.csv', index=False)